@{
    ViewData["title"] = "Conversor";
}

@model Application.ViewModels.ConversorMoneda


<div class="container text-center separador">
    <h2 class="titulo">Calcula el valor de tu moneda</h2>
</div>
<div class="container">
    <form method="post" asp-controller="Conversor" asp-action="Conversor">
         <div class="row row-cols-2">
        <div class="col">
            <label class="form-label" asp-for="moneda">Moneda</label>
            <select class="form-select" asp-for="moneda">
                <option value="1">Dolar</option>
                <option value="2">Peso</option>
                <option value="3">Euro</option>
            </select>
        </div>
        
         <div class="col">
            <label class="form-label" asp-for="convertido">Convertir a</label>
            <select class="form-select" asp-for="convertido">
                <option value="1">Dolar</option>
                <option value="2">Peso</option>
                <option value="3">Euro</option>
            </select>
        </div>

        <div class="col-12 mt-4 flex text-center separador">
            <div>
                <label class="form-label" asp-for="cantidad">Cantidad</label>
                <input type="number" step="any" class="form-control" asp-for="cantidad">
            </div>
           
        </div>
        <div class="col-12 flex">
             <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
       
        </div>
    </form>
    <div>
        <h3>Resultado:</h3>
        <h4>@ViewBag.resultado</h4>
    </div>
</div>