@{
    ViewData["title"] = "Signo Zodiacal";
}

@model Application.ViewModels.FechaNacimiento

<div class="container text-center separador">
    <h2 class="titulo">Calcula tu signo zodiacal</h2>
</div>
<div class="container">
    <form method="post" asp-controller="SignoZodiacal"  asp-action="SignoZodiacal">
        <div class="row row-cols-2">
        <div class="col">
            <label class="form-label" asp-for="dia">Dia de nacimiento</label>
            <input type="number" step="any" class="form-control" asp-for="dia">
        </div>
        <div class="col">
                @{
                    List<string> meses = new() { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" };
                }
            <label class="form-label" asp-for="mes">Mes de nacimiento</label>
            <select class="form-select" asp-for="mes">
                @for(int item = 0; item < meses.Count; item++) {
                   
                    <option value="@item">@meses[item]</option>

                    }
            </select>
        </div>
        </div>

        <div class="col-12 flex mt-5">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>

    <div class="mt-3">
        <h3>Tu signo zodiacal es: </h3>
        <h4>@ViewBag.mivida</h4>
    </div>
</div>