@{
    ViewData["title"] = "Calculadora de prestamos";
}

@model Application.ViewModels.Prestamos

<div class="container text-center separador">
    <h2 class="titulo">Calcula tu prestamo</h2>
</div>

<div class="container">
    <form method="post" asp-controller="Prestamos" asp-action="Prestamos">
        <div class="row row-cols-2">
        <div class="col">
            <label class="form-label" asp-for="monto">Ingresa el monto que deseas</label>
            <input type="number" class="form-control" asp-for="monto">
        </div>
       
        <div class="col">
            <label class="form-label" asp-for="tipoPrestamo">Selecciona el tipo de prestamo</label>
            <select class="form-select" asp-for="tipoPrestamo">
                <option value="1">Personal</option>
                <option value="2">Automóvil</option>
                <option value="3">Hipotecario</option>
            </select>
        </div>
        <div class="col-12 text-center mt-4">
            <label class="form-label" asp-for="meses">Selecciona de cuantos meses sera la cuota</label>
            <select class="form-select" asp-for="meses">
            
            @for(int i = 12; i <= 120; i += 6)
            {
               <option value="@i">@i Meses</option>
            }
            </select>
        </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mt-4">Calcular</button>
            <div class=" mt-4">
                <h4>Tasa de interes: </h4>
                <div>
                    Personal: 22% ----
                    Automovil: 12% ----
                    Hipotecario: 8%
                </div>
            </div>
        </div>
    </form>

    <div class="container text-center mt-4">
        <h3>El total a pagar es: @ViewBag.total</h3>
        <h5 class="mt-2">La cuota mensual que debe pagar es: @ViewBag.cuota</h5>
    </div>
</div>